@use "../mixins";
@use "../variables";

.page-app {
  padding-top: 100px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 48px;
  }

  .app {
    @include mixins.flex(row-reverse, space-between);
    flex-wrap: wrap;

    &-img,
    &-description {
      width: 50%;
    }

    &-img {
      img {
        margin: 0 auto;
      }
    }

    .download-btn {
      width: 131px;
      padding: 16px 40px;

      text-transform: capitalize;

      border: none;
      border-radius: 32px;

      background-color: variables.$red;
    }
  }
}

@media (width <= 414px) {
  .page-app {
    .app {
      &-img,
      &-description {
        width: 100%;
      }
    }
  }
}
