@use "../mixins";

.page-news {
  padding-top: 100px;

  h2 {
    margin-bottom: 48px;
  }

  .news-item {
    @include mixins.flex(row, flex-start);
    gap: 50px;

    width: 100%;
    margin-bottom: 65px;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
    }

    .news-footer {
      font-size: 12px;
    }

    .news-author {
      @include mixins.flex(row, flex-start, center);
      gap: 16px;

      margin-bottom: 48px;

      .author-name {
        color: #f89202;
      }
    }

    .btn {
      width: 135px;
      padding: 16px 30px;
    }
  }
}

@media (width <= 414px) {
  .page-news {
    .news-item {
      flex-wrap: wrap;
    }
  }
}
