@font-face {
  font-weight: normal;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
html {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #08020d;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

h3 {
  font-size: 24px;
  line-height: 47px;
  font-weight: normal;
}

h4 {
  font-size: 18px;
  line-height: 27px;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

.text-small {
  font-size: 12.8px;
}
.text-size-1 {
  font-size: 16px;
}
.text-size-2 {
  font-size: 24px;
}
.text-size-3 {
  font-size: 32px;
}
.text-size-4 {
  font-size: 40px;
}
.text-size-5 {
  font-size: 48px;
}
.text-size-6 {
  font-size: 56px;
}
.text-size-7 {
  font-size: 64px;
}

.pop-track {
  font-size: 12.8px;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  box-sizing: border-box;
  border: 1px solid red;
}

.bg {
  background-position: center;
  background-size: cover;
}

.btn {
  box-sizing: border-box;
  display: block;
  padding: 20px 30px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-img {
  display: block;
}

@media (width <= 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }
  .flex-img {
    width: 100%;
    height: auto;
  }
}
.header {
  width: 100vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.header .content {
  position: relative;
}
.header .navigation-panel {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 90px;
}
.header .logo-img {
  margin-right: 16px;
}
.header a {
  display: block;
  font-size: 11px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.header .navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 24px;
}
.header .search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  flex: 1 0 0;
}
.header .search {
  box-sizing: border-box;
  height: 25px;
  width: 248px;
  padding: 5px 10px;
  color: inherit;
  border: none;
  border-radius: 50px;
  background-color: #3c3b3d;
}

@media (width <= 414px) {
  .header .navigation-panel {
    left: 20px;
    right: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
  .header .navigation-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .header .search-form,
  .header form,
  .header .search {
    width: 100%;
  }
}
.page-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #fff;
}
.page-description .content {
  margin: 200px 0;
  text-align: center;
}
.page-description h1 {
  margin: 0;
  padding: 0;
}
.page-description h2 {
  margin-top: 0;
}
.page-description .access-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 0;
  column-gap: 24px;
  max-width: 570px;
}
.page-description .access-form input {
  flex: 1 1 270px;
  box-sizing: border-box;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  color: inherit;
  border-radius: 3px;
  border: 2px solid #cacaca;
  background-color: transparent;
}
.page-description .access-form input::placeholder {
  color: inherit;
}
.page-description .access-form .submit-btn {
  width: 100%;
  padding: 20px 30px;
  font-size: 13.3px;
  color: #fff;
  border: none;
  background-color: #34c176;
}

.banner-bg {
  background-image: url("../images/banner.png");
}

@media (width <= 414px) {
  .page-description .content {
    margin-top: 250px;
  }
}
.page-pricing {
  padding-top: 100px;
  text-align: center;
}
.page-pricing h2 {
  margin-bottom: 48px;
}
.page-pricing .pricing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 48px;
  width: 100%;
}
.page-pricing .pricing-item {
  flex: 1 1 0;
  box-sizing: border-box;
  max-width: 370px;
  padding: 0 1.5rem;
  text-align: center;
  color: #fff;
  border-radius: 1rem;
}
.page-pricing .pricing-item h3 {
  margin-bottom: 200px;
}
.page-pricing .pricing-item .pricing-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
.page-pricing .pricing-item .value {
  margin-right: 16px;
  line-height: 1em;
}
.page-pricing .pricing-item .pricing-footer {
  margin: 64px 0;
}
.page-pricing .bg-free {
  background-image: url("../images/subscribe_1.png");
}
.page-pricing .bg-standart {
  background-image: url("../images/subscribe_2.png");
}
.page-pricing .bg-premium {
  background-image: url("../images/subscribe_3.png");
}
.page-pricing .footer {
  margin-top: 40px;
}

.page-news {
  padding-top: 100px;
}
.page-news h2 {
  margin-bottom: 48px;
}
.page-news .news-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 50px;
  width: 100%;
  margin-bottom: 65px;
}
.page-news .news-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}
.page-news .news-item:last-of-type {
  margin-bottom: 0;
}
.page-news .news-item h3 {
  margin-top: 0;
}
.page-news .news-item .news-footer {
  font-size: 12px;
}
.page-news .news-item .news-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}
.page-news .news-item .news-author .author-name {
  color: #F89202;
}
.page-news .news-item .btn {
  width: 135px;
  padding: 16px 30px;
}

@media (width <= 414px) {
  .page-news .news-item {
    flex-wrap: wrap;
  }
}
.page-app {
  padding-top: 100px;
  margin-bottom: 100px;
}
.page-app h2 {
  margin-bottom: 48px;
}
.page-app .app {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.page-app .app-img, .page-app .app-description {
  width: 50%;
}
.page-app .app-img img {
  margin: 0 auto;
}
.page-app .app .download-btn {
  width: 131px;
  padding: 16px 40px;
  text-transform: capitalize;
  border: none;
  border-radius: 32px;
  background-color: #95390c;
}

@media (width <= 414px) {
  .page-app .app-img, .page-app .app-description {
    width: 100%;
  }
}
footer {
  width: 100%;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer .top,
footer .bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
footer .top .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
footer .top .content .subscribe li {
  display: inline-block;
  margin-right: 24px;
  vertical-align: middle;
}
footer .top .content .subscribe li:last-of-type {
  margin-right: 0;
}
footer .top::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  height: 2px;
  background-color: #cacaca;
  content: "";
}
footer .bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer .bottom .content {
  align-items: flex-start;
}
footer .bottom .content ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul h4 {
  margin-bottom: 1rem;
}
footer a {
  color: #e0e0e0;
  text-decoration: none;
}

@media (width <= 414px) {
  footer .top .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px;
  }
  footer .top .content h4 {
    margin-top: 0;
  }
  footer .bottom .content ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}
.artist-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.artist-description .content {
  align-items: flex-start;
  text-align: left;
}
.artist-description .action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 48px;
}
.artist-description .action-buttons .btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 200px;
  padding: 20px 30px;
  font-family: inherit;
  font-size: 12.8px;
  text-transform: uppercase;
  border: none;
}
.artist-description .action-buttons .btn img {
  filter: invert(1);
}
.artist-description .action-buttons .mix-btn {
  background-color: #5328a1;
}
.artist-description .action-buttons .to-favorites-btn {
  background-color: #95390c;
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
}

@media (width <= 414px) {
  .artist-description .content {
    margin: 225px 0;
  }
}
.artist-popular-track .content {
  align-items: flex-start;
  text-align: left;
}
.artist-popular-track .popular-track-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 55px);
  column-gap: 50px;
  row-gap: 25px;
  width: 100%;
}
.artist-popular-track .popular-track-container .popular-track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
  border: 1px solid red;
}
.artist-popular-track .popular-track-container .popular-track .track-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0;
}
.artist-popular-track .popular-track-container .popular-track p {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=app.css.map */

