.artist-popular-track {
  .content {
    align-items: flex-start;

    text-align: left;
  }

  .popular-track-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 55px);
    column-gap: 50px;
    row-gap: 25px;

    width: 100%;

    .popular-track {
      @include flex(row, flex-start, center);
      gap: 15px;
      
      @include test-border;

      .track-info {
        @include flex(row, space-between, center);
        flex: 1 1 0;
      }

      p {
        @include reset;
      }
    }
  }
}