@use "../mixins";

.artist-similar {
  @include mixins.flex(column, flex-start, center);

  width: 100%;

  .content {
    margin-bottom: 100px;
    padding-top: 100px;
    
    text-align: left;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 3rem;
    width: 100%;
  }

  .artist-container {
    @include mixins.flex(row, flex-start);
    flex-wrap: wrap;
    gap: 25px 50px;

    .artist-item {
      max-width: 250px;

      @include mixins.flex(column, flex-start);
      gap: 18px;

      .artist-photo {
        max-width: 250px;
        max-height: 250px;
      }

      .artist-info {
        @include mixins.flex(column, flex-start, center);

        .name, .followers {
          @include mixins.reset;
        }
      }
    }
  }
}

@media (width <= 414px) {
  .artist-similar {
    .artist-container {
      .artist-item {
        max-width: 137px;

        .artist-photo {
          max-width: 137px;
          max-height: 137px;
        }

        .name {
          line-height: 27px;
        }

        .followers {
          text-align: center;
        }
      }
    }
  }
}