@use "mixins";
@use "variables";

footer {
  width: 100%;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  a {
    color: variables.$gray;
    text-decoration: none;
  }

  .top,
  .bottom {
    position: relative;

    @include mixins.flex(column, flex-start, center);

    width: 100%;
  }

  ul {
    @include mixins.reset;
    list-style: none;
  }

  .top {
    padding-top: 62px;
    padding-bottom: 75px;

    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
      align-items: start;

      ul {
        h4 {
          margin: 0 0 15px;
        }
      }

      .subscribe {
        li {
          display: inline-block;
          margin-right: 21px;

          vertical-align: middle;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            display: flex;
          }
        }
      }
    }

    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      box-sizing: border-box;
      height: 2px;

      background-color: variables.$dark-gray;

      content: "";
    }
  }

  .bottom {
    padding-top: 38px;
    padding-bottom: 49px;

    .content {
      align-items: flex-start;

      ul {
        @include mixins.flex(row, flex-start, center);
        gap: 16px;
      }
    }
  }
}

@media (width <= 414px) {
  footer {
    .top {
      padding-top: 67px;
      padding-bottom: 76px;

      .content {
        @include mixins.flex(column);
        gap: 34px;

        ul {
          margin: 0;

          h4 {
            margin-top: 0;
          }
        }
      }
    }

    .bottom {
      .content {
        ul {
          @include mixins.flex(column);
        }
      }
    }
  }
}
